# Semana 05
Ccaccya Huaman Antony

Temas

Números
Variables
Manejo de cadenas
Ingreso de datos por teclado
Operadores

5. Operadores

In [2]:
#5.1 Operadores aritmeticos
#Se tiene +,-,*,/,%,**;//

In [3]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [4]:
#5.2 Operadores de asignacion
#Se tiene : -,+-,--,*-,/-,**-
numero = 5
numero = numero + 3
print(numero)

8

In [5]:
#La operacion anterior tambien se puede expresar de la siguiente manera
numero = 5
numero += 3
print(numero)

8

In [6]:
#Ejemplo
numero = 5
numero = numero ** 3
print(numero)

125

In [7]:
#La operacion anterior tambien se puede expresar de la siguiente manera
numero = 5
numero **= 3
print(numero)

125

In [8]:
#5.3 Operadores de comparacion
# Se tiene : ==,!=,<,>,<=,>=

In [10]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [11]:
#con las cadenas funcionan igual
nombre1 = "Frank"
nombre2 = "Frank"
nombre1 == nombre2

True

In [12]:
#5.4 Operadores logicos
#Se tiene : and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [13]:
numero1 < numero2

True

In [14]:
#El not invierte el resultado
not(numero1<numero2)

False

In [15]:
numero1<numero2 and numero3<numero4

True

In [16]:
#Tambien puedes poner parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [17]:
#5.5 Operadores de pertenencia
#Se tiene:in , not in

In [18]:
#Ejemplo:
aula = ["Juan","Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [19]:
#¿Diego esta en el aula?
alumno1 in aula

False

In [20]:
#¿Juan esta en el aula?
alumno2 in aula

True

In [21]:
#¿Diego no esta en el aula?
alumno1 not in aula

True

In [22]:
#¿Juan no esta en el aula?
alumno2 not in aula

False

In [23]:
#5.6 Operadores de indentidades
#Se tiene: is, is not

In [24]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
#A continuacion vamos a indicar que aula 3 va a compartir el mismo que el aula1
aula3 = aula1

In [25]:
#¿Aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [26]:
#¿Aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [27]:
#¿Aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [30]:
aula1.append("Diego")

In [31]:
#Al imprimir los elemtos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [32]:
print(aula2)

['Juan', 'Daniel', 'Ruben']

In [34]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']