# Semana 05
Ccaccya Huaman Antony

Temas

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

3. Manejo de cadenas

In [1]:
cadena = "Universidad Nacional tecnológica de Lima Sur"
cadena

'Universidad Nacional tecnológica de Lima Sur'

In [2]:
#Universidad Nacional tecnológica de Lima Sur
#01234.......                           -3-2-1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
#Tambien considera los espacios
cadena[11]

' '

In [6]:
cadena[-5]

'a'

In [7]:
cadena[21]

't'

In [8]:
cadena[-23]

't'

In [9]:
#Para mostrar una subcadena [desde, hasta un antes ]
#En java era substring()
cadena[3:8]

'versi'

In [10]:
#Para saber el tamaño de una cadena utilizamos len()
#Incluye espacios en blanco
len(cadena)

44

In [11]:
#Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [12]:
#ojito ...... solo lo muestra,aun se queda igual
cadena

'Universidad Nacional tecnológica de Lima Sur'

In [13]:
#Si deseamos cambiarlo harias:
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [14]:
#Para mostrar una cadena en minuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [15]:
#Para generar una lista a partir de una cadena utilizamos split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [16]:
#Utilizando el criterio de separacion de la letra A
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [17]:
#Forma clasica , para concatenar : con +
nombre = "Antony"
print("Buenos dias " + nombre)

Buenos dias Antony

In [18]:
#Utilizando el .format()
nombre = "Pablo Levano"
edad = 12
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Pablo Levano ya se que tienes 12 años

In [19]:
#Dar formato a muchos con numeros decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [21]:
#Dar formato con f
#La funcion f esta dispoible en la version 3.6
nombre= "Daniel Levano"
edad = 10
print(f"Buenos dias {nombre}, ya se que tienes {edad} años")

Buenos dias Daniel Levano, ya se que tienes 10 años

In [22]:
#Dar formato a numeros con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333