Semana 05
Ccaccya Huaman Antony

Temas:

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

In [3]:
#Siempre debe iniciar con una letra o un guion abajo

In [4]:
edad=41
edad

41

In [5]:
nombre = 'Antony'
nombre

'Antony'

In [6]:
apellido = 'Ccaccya Huaman'
apellido

'Ccaccya Huaman'

In [7]:
nombrecompleto = nombre + apellido
nombrecompleto

'AntonyCcaccya Huaman'

In [8]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'Antony Ccaccya Huaman'

In [9]:
#Para saber el tipo de variable utilizamos la funcion type()
#Por ejemplo:

In [10]:
numero = 50
type(numero)

int

In [11]:
talla = 1.68
talla

1.68

In [12]:
type(talla)

float

In [13]:
# Para convertir un numero en cadena utilizamos la funcion str()
# Para convertir una cadena en un entero utilizamos int()
# Para convertir una cadena en decimal utilizamos float()

In [14]:
# Para convertir un numero en cadena utilizamos la funcion str()
numero = 100
cadena = str(numero)
cadena

'100'

In [15]:
type(cadena)

str

In [16]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 ="50"
numero2 = int(cadena2)
cadena2

'50'

In [17]:
type(numero2)

int

In [18]:
# Para convertir una cadena en decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
cadena2

'50'

In [19]:
type(numero2)

float